.wrapper {
  position: relative;
  width: 1000px;
  max-width: 100%;
  min-width: 315px;
  flex-direction: row;
  margin: 0 auto;
}


.left {
float: left;
width: 50%;
height: 100%;
color: red;

}
.right {
float: right;
width: 50%;
height: 100%;
}

.backgr-gray {

  background-color: lightslategrey;
}

.img {
 width: 60%;
 height: 60%;
}

p {
text-align: justify;
font-size:24px;
}