.wrapper {
  position: relative;
  width: 1000px;
  max-width: 100%;
  min-width: 315px;
  flex-direction: row;
  margin: 0 auto;
}


.left {
float: left;
width: 40%;
height: 100%;
color: red;
font-size: 14px;

}
.right {
float: right;
width: 60%;
height: 100%;
margin-top: 20px;

}

.backgr-gray {
background-color: rgb(236, 237, 238);
}

.img {
 width: 70%;
 height: 70%;
 }

p {
text-align: justify;
font-size:14px;
padding: 20px;
}